server/.phpunit.cache
server/node_modules
server/public/build
server/public/hot
server/public/storage
server/storage/*.key
server/vendor
server/.env
server/.env.backup
server/.env.production
server/.phpunit.result.cache
server/Homestead.json
server/Homestead.yaml
server/auth.json
server/npm-debug.log
server/yarn-error.log
server/.fleet
server/.idea
server/.vscode

# dependencies
web/node_modules
web/.pnp
web/.pnp.js
# testing
web/coverage
# production
web/build
# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/.env
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*